<h1>Sign Up Confirmation</h1>

<h2>Are you sure these values are correct?</h2>

<h3><%= @user.email %></h3>
<h3><%= @user.name %></h3>

<span style="display: inline-block"><%= button_to "Yes", {controller: "users", action: "create", params: params.permit!}, class: 'btn btn-success' %></span>

<span style="display: inline-block"><%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-danger', method: :get %></span>
